{# partials/sidebar.html #}
<div class="sidebar" id="sidebar">
    <div class="logo-container">
        <div class="logo">Transaction Services Platform</div>
        <div class="logo-separator"></div>
    </div>
    
    <nav>
        <div class="menu-item" data-section="concierge">
            <svg><use href="#icon-concierge"/></svg>
            Concierge
        </div>

        <div class="menu-item has-submenu" data-section="operationscommand">
            <svg><use href="#icon-home"/></svg>
            Platform Command
        </div>
        <div class="submenu">
            <div class="menu-item" data-section="dashboard">Command Post</div>
            <div class="menu-item" data-section="locker">Program Locker</div>  
            <div class="menu-item" data-section="projects">Project Portfolio</div>
            <div class="menu-item" data-section="configuration">Platform Engineering</div>
            <div class="menu-item" data-section="platformtour">Platform Tour</div>
        </div>




       

        <div class="menu-item has-submenu" data-section="operations">
            <svg><use href="#icon-operations"/></svg>
            Transaction Operations
        </div>
        <div class="submenu">
            <div class="menu-item" data-section="dashboard">Wheelhouse</div>
            <div class="menu-item" data-section="dashboard">Dashboard</div> 
            <div class="menu-item" data-section="configuration">Current Engagements</div>
            <div class="menu-item" data-section="engineering">Transaction Architecture</div>
            <div class="menu-item" data-section="analytics">Package Analytics</div>
            <div class="menu-item" data-section="families">Transaction Families</div>
            <div class="menu-item" data-section="configuration">Sandbox</div>
           
        </div>
        <div class="menu-item" data-section="houseapps">
            <svg><use href="#icon-houseapps"/></svg>
            House Apps
        </div>
       

        <div class="menu-item" data-section="speakeasy">
            <svg><use href="#icon-speakeasy"/></svg>
            The Speakeasy
        </div>

        <div class="menu-item" data-section="settings">
            <svg><use href="#icon-settings"/></svg>
            Settings
        </div>

        <div class="footer-text">
            <p>Powered by Tangible Intelligence</p>
        </div>
    </nav>
</div>